{{!-- {{log 'Input data' this}} --}}
<form>
    <div>
        <h1 class="roll-tracker-comparison-card-heading">{{localize "ROLL-TRACKER.comparison-card.title"}}</h1>
        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.mean-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                {{#if (isOne mean.highest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{mean.highest.[0].name}}</span> with {{mean.highest.[0].value}}.
                {{/if}}
                {{#if (isTwo mean.highest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{mean.highest.[0].name}}</span> and <span class="roll-tracker-comparison-card-strong">{{mean.highest.[1].name}}</span> with {{mean.highest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus mean.highest.length)}}
                    {{#each mean.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../mean.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../mean.highest.length)}}
                                with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                {{#if (isOne mean.lowest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{mean.lowest.[0].name}}</span> with {{mean.lowest.[0].value}}.
                {{/if}}
                {{#if (isTwo mean.lowest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{mean.lowest.[0].name}}</span> and <span class="roll-tracker-comparison-card-strong">{{mean.lowest.[1].name}}</span> with {{mean.lowest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus mean.lowest.length)}}
                    {{#each mean.lowest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../mean.lowest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../mean.lowest.length)}}
                                with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
        </ul>


        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.median-header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.highest"}}: </span>
                {{#if (isOne median.highest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{median.highest.[0].name}}</span> with {{median.highest.[0].value}}.
                {{/if}}
                {{#if (isTwo median.highest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{median.highest.[0].name}}</span> and <span class="roll-tracker-comparison-card-strong">{{median.highest.[1].name}}</span> with {{median.highest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus median.highest.length)}}
                    {{#each median.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../median.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../median.highest.length)}}
                                with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
            <li class="roll-tracker-comparison-card-li">
                <span class="roll-tracker-comparison-card-italics">{{localize "ROLL-TRACKER.comparison-card.lowest"}}: </span>
                {{#if (isOne median.lowest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{median.lowest.[0].name}}</span> with {{median.lowest.[0].value}}.
                {{/if}}
                {{#if (isTwo median.lowest.length)}}
                    <span class="roll-tracker-comparison-card-strong">{{median.lowest.[0].name}}</span> and <span class="roll-tracker-comparison-card-strong">{{median.lowest.[1].name}}</span> with {{median.lowest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus median.lowest.length)}}
                    {{#each median.lowest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../median.lowest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../median.lowest.length)}}
                                with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
        </ul>


        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.mode.header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                {{localize "ROLL-TRACKER.comparison-card.mode.raw-numbers"}} <span class="roll-tracker-comparison-card-strong">{{comparator.highest.name}}</span> {{localize "ROLL-TRACKER.comparison-card.mode.most-frequent"}} 
                {{comparator.highest.value}} {{localize "ROLL-TRACKER.comparison-card.mode.instances-of"}} {{comparator.highest.mode}}.
            </li>
            <li class="roll-tracker-comparison-card-li">
                {{localize "ROLL-TRACKER.comparison-card.mode.percentage"}} <span class="roll-tracker-comparison-card-strong">{{comparator.highestPercentage.name}}</span> {{localize "ROLL-TRACKER.comparison-card.mode.most-frequent"}} 
                {{comparator.highestPercentage.percentage}}% ({{comparator.highestPercentage.value}}) {{localize "ROLL-TRACKER.comparison-card.mode.of-their-rolls"}} {{comparator.highestPercentage.mode}}.
            </li>
        </ul>



        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.nat1s.header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                By raw numbers,
                {{#if (isOne nat1s.highest.length)}}
                    {{nat1s.highest.[0].name}} has the most natural 1s with {{nat1s.highest.[0].value}}.
                {{/if}}
                {{#if (isTwo nat1s.highest.length)}}
                    {{nat1s.highest.[0].name}} and {{nat1s.highest.[1].name}} have the most natural 1s with {{nat1s.highest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus nat1s.highest.length)}}
                    {{#each nat1s.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../nat1s.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../nat1s.highest.length)}}
                                have the most natural 1s with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
            <li class="roll-tracker-comparison-card-li">
                By percentage of their total rolls,
                {{#if (isOne nat1sPercentage.highest.length)}}
                    {{nat1sPercentage.highest.[0].name}} has the most natural 1s with {{nat1sPercentage.highest.[0].value}}%.
                {{else}}
                    {{#each nat1s.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../nat1s.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../nat1s.highest.length)}}
                                have the highest percentage of natural 1s with {{this.value}}%.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
        </ul>



        <h3 class="roll-tracker-comparison-card-stat-heading">{{localize "ROLL-TRACKER.comparison-card.nat20s.header"}}</h3>
        <ul class="roll-tracker-comparison-card-ul">
            <li class="roll-tracker-comparison-card-li">
                By raw numbers,
                {{#if (isOne nat20s.highest.length)}}
                    {{nat20s.highest.[0].name}} has the most natural 20s with {{nat20s.highest.[0].value}}.
                {{/if}}
                {{#if (isTwo nat20s.highest.length)}}
                    {{nat20s.highest.[0].name}} and {{nat20s.highest.[1].name}} have the most natural 20s with {{nat20s.highest.[0].value}}.
                {{/if}}
                {{#if (isThreePlus nat20s.highest.length)}}
                    {{#each nat20s.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../nat20s.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../nat20s.highest.length)}}
                                have the most natural 20s with {{this.value}}.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
            <li class="roll-tracker-comparison-card-li">
                By percentage of their total rolls,
                {{#if (isOne nat20sPercentage.highest.length)}}
                    {{nat20sPercentage.highest.[0].name}} has the most natural 20s with {{nat20sPercentage.highest.[0].value}}%.
                {{else}}
                    {{#each nat20s.highest}}
                        <span class="roll-tracker-comparison-card-strong">{{this.name}}</span>
                        {{~#if (isSecondLast @index ../nat20s.highest.length)~}}
                            , and
                        {{~else~}}
                            {{#if (isLast @index ../nat20s.highest.length)}}
                                have the highest percentage of natural 20s with {{this.value}}%.
                            {{~else~}}
                                ,
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            </li>
        </ul>
    </div>
</form>